.fondo {
    background-image: url('../resources/fondo.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}
.createCorte {
    width: 140px;
    height: 55px; 
    background-color: #f7e087;
    font-family: 'Franklin Gothic Medium';
    border-radius: 10px;
    font-size: large;
    margin-top: 14px;
}

.sc-fLcnxK.dApqnJ {
    position: fixed;
    width: 88%;
    display: table;
    margin-top: -23px;
}

.sc-bcXHqe.kVrXuC.rdt_Table{
    width: 96%;
    margin-left: 2%;
    margin-top: 4%;
    height: 141px;
}   

.sc-jrcTuL.dwPlXY.rdt_TableRow{
    background-color: lightgrey;
    font-size: medium;
}
.sc-dkrFOg.iSAVrt.rdt_TableHeadRow{
    background: gray;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    font-size: 29px;
}

.sc-hLBbgP.sc-eDvSVe.sc-ipEyDJ.glyQNg.bQdYbR.dlSNBX.rdt_TableCol {
    display: flex;
    justify-content: center;
}
.filtros{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.infhc{
    height: 24px;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 4px;
    background: #fff9f9;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.intxt{
    font-size: 20px;
    font-weight: bold;
    color: #323232;
}
.btn-corte{
    align-self: center;
    padding: 10px;
    background: #f7e087;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: bold;
}

