.header { 
    width: 100%;
    height: 80px;
    background-color: rgba(243, 224, 173, 1);
    
}

.Home {
    margin-top: 15px;
    background-color: rgba(206, 110, 21, 0.79);
    color: black;
    font-style: normal;
    margin-left: 1200px;
    border-color: rgba(206, 110, 21, 0.79);
}