.back{
    background-image: url('../resources/fondo.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.botns {
    margin-left: 14px;
}

.createInfo {
    width: 140px;
    height: 55px; 
    background-color:#f7e087;
    font-family: 'Franklin Gothic Medium';
    border-radius: 10px;
    font-size: large;
    margin-top: 14px;
}

.informes {
    display: flex;
    flex-direction: row;
}





