.createInfo {
    width: 140px;
    height: 55px; 
    background-color: rgb(255, 208, 0);
    font-family: 'Franklin Gothic Medium';
    border-radius: 10px;
    font-size: large;
    margin-top: 14px;
}

.informes {
    display: flex;
    flex-direction: row;
}

.Tableheadrow {
    background-color: aqua;
}