
.container-loguee{
    justify-content: center;
    align-items: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: #7c594c;
    padding: 5% 0% 5% 0%;
    border-radius: 30px;

    font-family: Trebuchet MS ;
    font-weight:bold;
    font-size: 40px;
    margin-top: 0;
    color: white;
    margin-bottom:40px;
}
.head-loguee{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}
.foot-loguee{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.btn-regist{
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btnIn{
    width: 90%;
    color: white;
    background-color: darkcyan;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 40px;
    margin-bottom: 5%;
    align-self: center;
    cursor: pointer;
}
.btnGoog{
    width: 90%;
    color: white;
    background-color: darkcyan;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 40px;
    align-self: center;
    cursor: pointer;
}
.cont-img{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    width: 25%;
}

.container-loguee input{
    margin-top: 5%;
    width: 80%;
    align-self: center;
}
/* .container-loguee button{
    margin-top: 5%;
    height: 55px;
    width: 145px;
    font-size: 16px;
    font-weight: bold;
} */
.form-loguee{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.in-loguee{
    border-radius: 5px;
    border: none;
    padding: 8px;
}
.logo-img{
    height: 35px;
}
.Logeando{
    font-size: 16px;
    cursor: pointer;
}

.switchi{
    font-size: 16px;
    cursor: pointer;
    margin-top: 0%;
    margin-top: 2%;
    margin-bottom: 8%;
}