.container-loguee{
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding: 5% 0% 5% 0%;
    border-radius: 30px;

    font-family: Trebuchet MS ;
    font-weight:bold;
    font-size: 40px;
    margin-top: 0;
    color: white;
    margin-bottom:40px;
}
.head-loguee{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}
.foot-loguee{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}
.btn-loguee{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
}
.btnIn{
    width: 100%;
    color: white;
    background-color: darkcyan;
    border-radius: 10px;
    border: none;
}
.cont-img{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    width: 25%;
}

.container-loguee input{
        margin-bottom: 5%;
    margin-left: 15%;
    width: 60%;
    height: 25%;
}
.container-loguee button{
    margin-top: 5%;
    height: 55px;
    width: 145px;
    font-size: 16px;
    font-weight: bold;
}
.form-loguee{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.in-loguee{
    border-radius: 5px;
    border: none;
    margin-left: 15%;
    padding: 8px;
}
.logo-img{
    height: 35px;
}