.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.Create {
    background-color: #f7e087;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}

.Cancel {
    background-color: #f7e087;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}

.input {
   size: 20px;
}

.MuiBox-root.css-1tx27gx {
    background-color: #87f79f;
}