.container {
    margin-top: -26px;
    margin-left: 10px;
}

.create {
    background-color: #f7e087;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}

.dates {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fecha {
    margin-left: 89px;
    width: 124px;
    height: 24px;
    border-radius: 7px;
}

.selector {
    margin-left: 9px;
    width: 90px;
    height: 29px;
    background-color: white;
}

.peso{
    margin-left: 82px;
    border-radius: 5px;
    height: 25px;
}

.concept{
    margin-left: 56px;
    width: 201px;
    height: 59px;
    border-radius: 8px;
}

.cancel{
    background-color: #f7e087;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
   
}

.btncontainer {
    display: flex;
    justify-content: space-between;
    
}

.input {
    display: initial;
}

.MuiBox-root.css-1tx27gx {
    background-color: #87f79f;
}