.btns {
    display: flex;
    justify-content: space-between;
}

.Create {
    background-color: lightgreen;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}

.Cancel {
    background-color: lightgreen;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}

.input {
   size: 20px;
}