.side_bar {
    width: 13%;
    min-height: 90vh;
    background-color: rgba(243, 224, 173, 1);
    /* overflow:hidden; */
    
}
.btn-redirect{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: medium;
    font-weight: bold;  
    cursor: pointer;
    
}
.table{
    margin-bottom: 30px;

}