<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <div style="width: 100%; height: 100%;">
        <div>
            <img src="../resources/seps.png" style="height: 100px;">
        </div>
        <div style="display: grid; grid-template-rows: auto max-content; gap: 40px; ">
           
            <div style="display: grid; gap: 15px; align-items: center;  justify-content: center; border-bottom: 4px solid rgb(117, 116, 116); padding-bottom: 30px;"> 
                <div style="font-weight: bold; font-size: large;">DATOS DE LA ESCUELA</div>
                <div style="display: grid;">
                  <div> <b>Escuela: </b> FRANCISCO I. MADERO</div>
                    
                  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
                    <span> <b>Clave: </b> 25DPR0955Z</span>
                    <span> <b>Turno: </b> TIEMPO COMPLETO</span>
                    <span> <b>Zona: </b> 032</span>
                  </div>
                   
                  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
                    <span> <b>Sector: </b> II</span>
                    <span> <b>Localidad: </b> LOS MOCHIS, SINALOA</span>
                    <span> <b>Total de alumnos:</b> 302</span>
                  </div>
                   
                </div>
            </div>
           
            <div style="display: grid; gap: 15px; border-bottom: 4px solid rgb(117, 116, 116); padding-bottom: 20px;">
                <div>
                    <div style="font-weight: bold; font-size: large;">INGRESOS ECONOMICOS</div>
                    <div>Total de ingresos economicos del periodo X al Y</div>
                </div>
                <div style="display: grid; grid-template-columns: auto max-content;">
                        movimientos ingresos
                </div>
                <div>
                    <div style="display: grid; grid-template-columns: auto max-content;">
                        <span>TOTAL DE INGRESOS</span>
                        total de ingresos
                    </div>
                </div>
            </div>
           
            <div style="display: grid; gap: 15px;">
                <div>
                    <div style="font-weight: bold; font-size: large;">EGRESOS REGISTRADO</div>
                    <div>Total de egresos del periodo X al Y</div>
                </div>
                <div style="display: grid; grid-template-columns: auto max-content;">
                    movimientos egresos
                </div>
                <div>
                    <div style="display: grid; grid-template-columns: auto max-content;">
                        <span>TOTAL DE EGRESOS</span>
                        total de egresos
                    </div>
                </div>
            </div>

            <div style="display: grid; gap: 15px; align-items: center;  justify-content: center; border-bottom: 4px solid rgb(117, 116, 116); padding-bottom: 30px;"> 
                <div>
                    <div style="display: grid; grid-template-columns: auto max-content;">
                        <span>TOTAL NETO</span>
                        total total
                    </div>
                </div>
            </div>    
        </div>
    </div>
</html>